<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Расчет энергоэффективности умного дома</title>
</head>
<body>
  <header class="header_d1">
    <div class="header__text">
      <h1>Наводнения</h1>
      <p></p>
    </div>
  </header>
  <main>
    <article class="forecast">
      <h1>
        <ul class="list">
          <li class="list__item">
            <a>Наводне́ние — значительное затопление определённой территории в результате подъёма уровня воды в реке, озере, водохранилище, наносящее материальный ущерб экономике, социальной сфере и природной среде.</a>
          </li>
        </ul>
      </h1>
    </article>
  </main>
  <footer>
    <h3>
      <ul class="list">
        <li class="list__item">
          <a>Пример Наводнения:</a>
        </li>
      </ul>
    </h3>
    <ul class="list">
      <li class="list__item">
        <a>Петербургское наводнение, 1824 год, около 200-600 погибших.
          19 ноября 1824 года в Санкт-Петербурге произошло наводнение, которое погубило сотни человеческих жизней и разрушило множество домов. Тогда уровень воды в реке Неве и её каналах поднялся на 4,14 — 4,21 метра выше обычного уровня (ординара).
          
          
          Петербургское наводнение 1824 года. Автор картины: Фёдор Яковлевич Алексеев (1753-1824).
          Перед началом наводнения в городе шел дождь и дул сырой и холодный ветер. А вечером произошел резкий подъем уровня воды в каналах, после чего почти весь город был затоплен. Наводнение не коснулось лишь Литейной, Рождественской и Каретной частей Петербурга. В итоге материальный ущерб от наводнения составил около 15—20 миллионов рублей, а около 200 — 600 человек погибло.
          
          Так или иначе, это не единственное наводнение, произошедшее в Санкт-Петербурге. Всего город на Неве был затоплен более 330 раз. В память о многих наводнениях города установлены памятные доски (их более 20). В частности, крупнейшему наводнению в городе посвящена табличка, которая находится на пересечении Кадетской линии и Большого проспекта Васильевского острова.</a>
      </li>
      <li class="list__item"><img src="static\img\Nav.jpg" alt="Water" width="800" height="860"></li>
    </ul>
    <nav> <!-- Navigation menu -->
      <ul>
          <li class="header_2">
            <a href="/">Home</a>
            <a href="/dangers_main">main page</a>
          </li>
      </ul>
    </nav>
  </footer>
</body>
</html>
