<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Расчет энергоэффективности умного дома</title>
</head>
<body>
  <header class="header_d3">
    <div class="header_text">
      <h1>Колебания температур</h1>
    </div>
  </header>
  <main>
    <article class="forecast">
      <h1>
        <ul class="list">
          <li class="list__item">
            <a>Изменение климата — явление долгосрочное, незаметное и постепенное. Оно мало влияет на повседневную жизнь. Но ученые бьют тревогу: уже сейчас видны необратимые последствия этих изменений.</a>
          </li>
        </ul>
      </h1>
    </article>
  </main>
  <footer>
    <h3></h3>
      <ul class="list">
        <li class="list__item">
          <a>Последствия глобального потепления</a>
        </li>
      </ul>
    </h3>
    <ul class="list">
      <li class="list__item">
        <a>Повышение уровня моря. За 30 лет в среднем он повышается на 2,6–2,9 мм в год, к концу XXI века может подняться на 52–98 см. Это вызвано расширением теплой воды, таянием ледников. Следствием станет потеря мест обитания людей.</a>
      </li>
      <li class="list__item">
        <a>Участившиеся экстремальные погодные явления: ураганы, ливни, наводнения, засухи и пересыхание рек.</a>
      </li>
      <li class="list__item">
        <a>Вымирание биологических видов из-за изменения температурного режима. Особенно страдают обитатели прибрежных зон и островов.</a>
      </li>
      <li class="list__item">
        <a>Угроза продовольственной безопасности, вызванная неурожаями при потеплении.</a>
      </li>
    </ul>
    <nav> <!-- Navigation menu -->
      <ul>
          <li class="header_2">
            <a href="/">Home</a>
            <a href="/dangers_main">main page</a>
          </li>
      </ul>
    </nav>
  </footer>
</body>
</html>
