<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Расчет энергоэффективности умного дома</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Ссылки на статьи и полезные сайты.</h1>
      <p>Углубись в тему сам!</p>
      <nav> <!-- Navigation menu -->
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <article class="forecast">
      <h1>
        <ul class="list">
          <li class="list__item">
            <a href="https://medium.com/eggheado-history/-c5ad76326f52">Примеры наводнений</a>
            <a href="https://eos.com/ru/industries/forestry/wildfires/">Сайт отслеживающий пожары</a>
            <a href="https://ru.wikipedia.org/wiki/Заглавная_страница">Сайт википедии</a>
            <a href="https://news.google.com/topics/CAAqIQgKIhtDQkFTRGdvSUwyMHZNR1JpZEhZU0FuSjFLQUFQAQ?hl=ru&gl">Здесь можно найти новости последних катастроф</a>
          </li>
        </ul>
      </h1>
    </article>
  </main>
  <footer>
    <li class="header_2">
      <p>&copy; 2024 My Website</p>
    </li>
  </footer>
</body>
</html>
